
<%= render 'form' %>

<div id='info'></div>

<table id="shortctuslist">
  <tr>
    <th></th>
    <th></th>
  </tr>
<% @shortcuts.each do |shortcut| %>
  <tr>
	<td>
		<%= link_to 'X', shortcut, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>
	<a href = "<%= root_url %><%= shortcut.id %>"><%= root_url %><%= shortcut.id %></a> ->
	<%= shortcut.link %></td>
  </tr>
<% end %>
</table>

