<p id="notice"><%= notice %></p>

<h2>
  <a href = "http://<%= @shortcut.link %>" target = "_blank"><%= @shortcut.link%></a> <br/>=<br/> 
  <a href = "<%= root_url %><%= @shortcut.id %>"><%= root_url %><%= @shortcut.id %></a>
</h2>


<% link_to 'Edit', edit_shortcut_path(@shortcut) %> 
<%= link_to 'Home', root_url %>
